.left{
    float: left;
}
.right{
    float: right;
}
.details-location{
    background: #fff;
    float: left;
    border: 1px solid #ccc;
    margin-left: 10%;
    margin-top: 5%;
}
.update_location{
  padding-top: 2%;
  width: 1000px;
  height: 465px;
}

.simple-text-form-location input[type=text], .simple-text-form-location input[type=password] {
    height: 30px;
    margin-bottom: 5px;
    margin-left: 5%;
}
.simple-text-form-location label {
    display: block;
    padding-bottom: 6px;
    margin-left: 5%;
}
.simple-text-form-plocation legend {
    display: block;
}
.field-one{
    width: 25%;
}
.field-two{
    width: 25%;
}
fieldset {
    float: left;
    border: none;
    font-size: 14pt;
}
fieldset p{
  margin-left: 5%;
  font-size: 16px;
}
fieldset dl {
    padding-top: 8px;
    font-size: 14px;
}
fieldset dl dt {
    display: block;
    margin-left: 5%;
}
.success{
  margin-left: 5%;    
}
.yellow-btn-location{
    font-weight: 700;
    letter-spacing: 0;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1rem;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    background-color: #fc0;
    padding: 1ex 1.5em;
    border: none;
    color: #000!important;
    text-align: center;
    margin-left: 5%;
    margin-top: 6%;
}